<h1>{{title}}</h1>


<div class="landing">

    <h4>
        <p>Welcome to WISHkey.
            <br> 
            Come curate your very own WISHlist of whiskies from around the world.
            <span class="go-away">Share your favorite and find a new one. Drink til our title feels natural.</span> Cheers!</p>
    </h4>

</div>