<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="landing">
    
    <h3>
        <p>Welcome to WISHkey.
            <br> Come create your very own WISHlist
            <br> of whiskies from around the world.
            <br> Share your favorite and find a new one.
            <br> Drink til our title feels natural. Salud!</p>
    </h3>

</div>