<!DOCTYPE html>
<html>

<head>
  <title>{{#if title}} {{title}} {{else}} WISHkey {{/if}}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Spectral+SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="/stylesheets/hamburgers.min.css" rel="stylesheet">
</head>

<body>
  <div class="header">
    <nav>
      <div class="header-image">
        <img class="circle" src="https://wedding-assets.s3.amazonaws.com/uploads/cache/attachments/portfolios/aa9ed4465fb94b99e24ce13d97ab09d1-35bbb835292e4a5b14de5ef97e848f94-940x626.jpg"
          alt="filler">
      </div>
      <a href='/'>
        <h1> WISHkey </h1>
      </a>
      <div class="right-menu">
        <div class="link-build">
          <div class="nav-list">
            <a href="/users">Users</a>
            <a href="/country">Country of Origin</a>
            <a href="/users/new">Sign Up For
              <span>WISHkey</span>
            </a>
          </div>
        </div>
        <!-- The following hamburger button is the work of Jon Suh and used with permission. The MIT License (MIT) Copyright (c) 2016 Jonathan Suh <hello@jonsuh.com> (jonsuh.com) -->
        <button class="hamburger hamburger--arrowalt-r" type="button">
          <!-- give button is-active class on click in JS  -->
          <!-- Also, contact-build must switch to hidden/ opacity 0 -->
          <span class="hamburger-box">
            <span class="hamburger-inner">

            </span>
          </span>
        </button>
      </div>
    </nav>
  </div>

  {{!-- ------------Overlay----------Nav-------------- --}}
  <div class="menu-overlay">
    <nav>
      <ul>
        <li>
          <a href="/users">Users</a>
        </li>
        <li>
          <a href="/country">Country of Origin</a>
        </li>
        <li>
          <a href="/users/new">Sign Up For
            <span>WISHkey</span>
          </a>
        </li>
        <li>
          <a href='/'>
            <span>WISHkey</span> Home
          </a>
        </li>
      </ul>
    </nav>
  </div>
  {{!-- -----------------End Overlay------------------- --}} {{{body}}}


  <div class="footer">

    <div class="bottom-footer">
      <div class="about">
        <div id="foot-col-1" class="links-text">
          <h5>Contact</h5>
          <div>
            <ul>
              <li>623 Gaskill St., Unit A</li>
              <li>Cabbagetown</li>
              <li>Atlanta, GA 30316</li>
              <li>
                <i>josh@joshuawsample.com</i>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="about">
        <div id="foot-col-2" class="links-text">
          <h5>Substance</h5>
          <div>
            <ul>
              <li>About</li>
              <li>Work</li>
              <li>Services</li>
              <li>Home</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="about">
        <div id="foot-col-3" class="links-text">
          <h5>Social</h5>
          <div>
            <ul>
              <li>Twitter</li>
              <li>GitHub</li>
              <li>LinkedIn</li>
              <li>Instagram</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="foot-container">
      <div class="foot-logo">
        <span>DEVELOPED</span>
        <div>
          <img class="circle" src="https://wedding-assets.s3.amazonaws.com/uploads/cache/attachments/portfolios/aa9ed4465fb94b99e24ce13d97ab09d1-35bbb835292e4a5b14de5ef97e848f94-940x626.jpg"
            alt="filler">
        </div>
        <span>&copy; 2018</span>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="/javascripts/main.js"></script>
</body>

</html>