<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
			<a href='/'><h1> WISHkey </h1></a>
      <a href="/users">Users</a>
      <a href="/country">Country of Origin</a>
		</nav>
    {{{body}}}
  </body>
</html>
