<main>
    <h1>Regions & Countries</h1>
    <div class="display-container">
        <ul class="flex-list">{{#each countries}}
            <a href="/country/{{_id}}">
                <div class="card container">


                    <img class="round-image" src="{{img}}" alt="{{country}}">
                    <li>{{country}}</li>


                </div>
            </a>
            {{/each}}
        </ul>
    </div>
</main>