<h1>Whisky Producing Countries</h1>
<ul>{{#each countries}}
    <div>
        <a href="/country/{{_id}}">
        <img src="{{img}}" alt="{{country}}">
        <li>{{country}}</li>
        </a>
    </div>
    {{/each}}
</ul>
