* {
	margin: 0;
	padding: 0;
}

*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #a7a7a7e8;
	font-size: 18px;
	font-family: 'Spectral SC', serif;
	text-align: center;
}

div {
	display: block;
}

div.display-container {
	text-align: center;
	display: inline-block;
	width: 85vw;
	background: white;
	border: 1px solid #B9D6C2;
	margin: 10px auto;
	border-radius: 4px;
	padding: 2em;
	position: relative;
	min-width: 340px;
	max-width: 800px;
}

img {
	width: 14vw;
	height: auto;
}

nav {
	position: fixed;
	top: 0;
	width: 99vw;
	display: flex;
	align-items: center;
	background: white;
	padding: 0.5em;
	z-index: 1;
	border-bottom: 1px solid rgb(33, 37, 34);
	box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
	min-width: 340px;
	letter-spacing: 0.1em;
}

nav div.nav-list {
	margin-left: 8vw;
}

nav div.nav-list a {
	padding: 0 1vw;
}

nav h1 {
	font-family: 'Bungee Shade', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 4vw;
	margin: 0 40px;
}

button {
	border: none;
	color: black;
	padding: 1vw 2vw;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
}

button:active {
	box-shadow: 0 5px #666;
	transform: translateY(2px);
	transition: 0.3s;
}

button.submit {
	background-color: #70fd7b;
}

button.delete {
	background-color: #fd7070;
	margin-bottom: 5px;
}

img.landing-img {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	transform: translateY(8px);
}

.landing {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/55/48/be/5548be7c87b6f005c5a711ef780a1a0d.jpg");
	min-height: 90vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	position: relative;
}

.landing h4 {
	display: flex;
	position: fixed;
	top: 13vh;
	color: white;
	margin: 0 10vw 20vw 50vw;
	background-color: #88888875;
	border-bottom: 1px solid rgb(163, 223, 223);
	border-top: 1px solid rgb(163, 223, 223);
	padding: 1em 2em;
}
@media (max-width: 716px) {
	.landing h4 {
		margin: 0 auto;
	}
}
.button-box {
	display: flex;
	justify-content: space-around;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #00B7FF;
}

a span {
	font-family: 'Abril Fatface', cursive;
}

ul li {
	list-style: none;
}

main {
	margin: 0 auto;
	margin-top: 180px;
}

img.round-image {
	border-radius: 50%;
}
@media (max-width: 1076px) {
	span.go-away {
		display: none;
	}
}

.right-menu {

	align-items: center;
	display: inline-flex;
	white-space: nowrap;
}

/* HAMBURGER STYLES --------------------------------- */

button.hamburger {
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	border: none;
	z-index: 100;
	margin-left: 30vw;
}

.hamburger {
	z-index: 20;
	position: relative;
	padding: 0 8px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
	text-shadow: 1px 1px 1px #313030;
	background-color: #000000;
	z-index: 20;
}
@media (min-width: 1032px) {
	button.hamburger {
		display: none;
	}
}
/* MENU OVERLAY SECTION------------------------------ */

.menu-overlay {
	position: fixed;
	background: rgb(27, 212, 245);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
	z-index: 10;
}

.menu-overlay nav {
	text-align: center;
	position: relative;
	font-family: ;
	top: 40%;
	height: 80%;
	font-size: 40px;
	text-shadow: 1px 1px #6790a0;
	transform: translateY(-36%);
}

.menu-overlay.open {
	opacity: 1;
	visibility: visible;
}

.menu-overlay ul {
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
	list-style: none;
}

.menu-overlay li {
	display: block;
	height: calc(100%/4);
}

ul li {
	list-style: none;
	/* color: rgba(218, 228, 227, 0.89); */
}

/* END MENU OVERLAY SECTION -------------------------------- */

/* ------LINK STYLES --------------------------------------- */

.link-build {
	visibility: visible;
	border-right: 4px solid rgba(255, 255, 255, 0.637);
}

.link-build.closed {
	visibility: hidden;
}

@media (max-width: 1032px) {
	.link-build {
		display: none;
	}
}

/* END LINK HIDE --------------------------------------- */

.card {
	box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 23vw;
	min-width: 120px;
	height: auto;
	background-color: #FFFFFF;
	margin: 10px auto;
	padding-top: 10px;
	text-align: center;
}

.card:hover,
.card.user:hover {
	box-shadow: 1px 10px 18px 3px rgba(0, 0, 0, 0.2);
}

ul.flex-list {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

.card.user {
	box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 15vw;
	height: auto;
	min-width: 120px;
	background-color: #FFFFFF;
	margin: 10px;
	padding-top: 10px;
	text-align: center;
	font-size: 1vw;
}

form {
	display: flex;
	justify-content: center;
	margin: 46px 0;
}

.form-box {
	display: block;
	text-align: end;
	width: 21vw;
	min-width: 350px;
	background-color: #FFFFFF;
	padding: 8px;
	box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
}

input[type=text] {
	border: none;
	background-color: #FFFFFF;
	border-bottom: 2px solid rgba(46, 42, 42, 0.712);
}

input:focus {
	outline: none;
}

.container {
	padding: 2px 16px;
}

.display-container {
	justify-self: center;
	vertical-align: middle;
	box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
}

.main-img {
	width: 100%;
	max-width: 280px;
	border-bottom: 1px solid rgb(183, 226, 226);
}

.container div {
	width: 100%;
	margin: 10px auto;
}

.pic-box {
	box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
}

.header-image {
	margin-left: 2vw;
}

.show-container {
	text-align: center;
	display: inline-block;
	width: 85vw;
	background: white;
	border: 1px solid #B9D6C2;
	margin: 10px auto;
	border-radius: 4px;
	padding: 2em;
	position: relative;
	min-width: 340px;
	max-width: 800px;
}

.show-container img {
	width: 50%;
}

.show-container ul {
	list-style-type: none;
	text-align: left;
}

img.soft-image {
	border-radius: 12px;
	box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
}

.circle {
	justify-self: center;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	background-color: #000000;
	border-radius: 20%;
	margin: 0 auto;
}

/* FOOTER&BOTTOM-STYLES--------------------------------- */

.footer {
	/* height: 33vh; */
	bottom: 0;
}

.footer .foot-logo {
	width: 100%;
	height: 20vh;
	position: relative;
	background-color: rgb(0, 163, 228);
	z-index: 3;
}

.footer .foot-logo span {
	font-size: 16px;
	letter-spacing: 4px;
}

.footer .foot-logo span:first-child {
	width: 38%;
	margin-right: 20px;
	margin-left: 12px;
	border-right: 4px solid rgba(255, 255, 255, 0.637);
}

.footer .foot-logo span:last-child {
	width: 38%;
	font-size: 20px;
	padding-left: 9px;
	margin-left: 20px;
	margin-right: 12px;
	border-left: 4px solid rgba(255, 255, 255, 0.637);
}

.bottom-footer {
	width: 100%;
	background-color: #00B7FF;
	position: relative;
	margin: 0 auto;
	right: 0;
	left: 0;
	padding: 3em 0;
	display: flex;
	flex-direction: row wrap;
	justify-content: center;
	align-items: center;
	font-family: 'Spectral SC', serif;
}

ul,
li,
.links-text {
	list-style: none;
	padding-left: 0;
	text-align: center;
}

.about {
	width: calc(33.33%);
}

.footer h1 {
	position: relative;
	top: 38%;
	margin: 0;
}

.bottom-logo,
.footer .foot-logo {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.bottom-logo {
	bottom: 10%;
	width: 100%;
}

.bottom-logo span {
	font-size: 16px;
	letter-spacing: 4px;
}

.bottom-logo span:first-child {
	width: 38%;
	margin-right: 20px;
	margin-left: 12px;
	border-right: 4px solid rgba(255, 255, 255, 0.637);
}

.bottom-logo span:last-child {
	width: 38%;
	font-size: 20px;
	padding-left: 9px;
	margin-left: 20px;
	margin-right: 12px;
	border-left: 4px solid rgba(255, 255, 255, 0.637);
}

/* END FOOTER&BOTTOM STYLES------------------------------ */