<main>

	<h2>Create A New User Profile!</h2>



	<div class="card">
		<div>
			<img class="round-image" src="http://www.drunkenmonkey.cz/wp-content/uploads/2015/10/drunken-monkey-prague-1.png" alt="{{country.country}}">
		</div>
	</div>
	<div id="edit-form" class="user-container">

		<form method="POST" action="/users">
			<div class="form-box">
				<div>
					<label for="name">Name of User</label>
					<input type="text" name="name">
				</div>
				<div>
					<label for="img">Image URL</label>
					<input type="text" name="img">
				</div>
				<div>
					<label for="country">Country</label>
					<input type="text" name="country">
				</div>
				<br>
				<div class="button-box">
					<a href="/">Return Home</a>
					<button class="submit" type="submit">Add User</button>
				</div>


			</div>
		</form>
	</div>
</main>